<div class="page-header">
  <h1>
    Connections
    <a href="/connections/new" class="btn btn-lg btn-success">New Connection</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <td> </td>
        <th>Name</th>
      
        <th>Last</th>
        <th>Actions</th>
      </tr>

      <% @connections.each do |connection| %>
      <tr>
        <td><img src="<%= User.find(connection.added_id).avatar_url %>" class="image-responsive"</td>
        <td><strong><%= User.find(connection.added_id).username %></strong></td>
        <% @members = [current_user.id, connection.added.id] %>
        <% conversation_id = [] %>
        <% Conversation.all.each do |c| %>
          <% d = c.members.distinct.map{|i| i[:id]} %>
          
          <% if d.sort == @members.sort %>
            <% conversation_id.push(c.id) %>
            <% break %>
          <% end %>
        <% end %>
        <% if conversation_id[0] == nil %>
          <td></td>
          <td>
            <a href="/connections/<%= connection.id %>" class="btn btn-primary">Details</a>
            <a href="/conversations/new" class="btn btn-success">New Message</a>
            <a href="/delete_conversation/<%= connection.id %>" class="btn btn-danger" rel="nofollow">Delete Connection?</a>
          </td>
        <% else %>
          <% a=Conversation.find(conversation_id[0]).messages.last %>
          <td><strong> <%= User.find(a.user_id).username %></strong>: <%= a.body %>  <small><i><%= time_ago_in_words(a.created_at) %></i></small></td>
   
          <td>
            <a href="/connections/<%= connection.id %>" class="btn btn-primary">Details</a>
            <a href="/conversations/<%= conversation_id[0]%>" class="btn btn-success">New Message</a>
            <a href="/delete_conversation/<%= connection.id %>" class="btn btn-danger" rel="nofollow">Delete Connection?</a>
          </td>
        <% end %>
        
      </tr>
      <% end %>
    </table>
  </div>

</div>
